<%= form_for(@blog_message) do |f| %>
  <% if @blog_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog_message.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @blog_message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
