<h1>Listing posts</h1>

<table>
  <tr>
    <th>User</th>
    <th>Text</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @blog_messages.each do |post| %>
      <tr>
        <td><%= post.user_id %></td>
        <td><%= post.text %></td>
        <td><%= post.image %></td>
        <% if can? :manage, post #user_signed_in? && post.user==current_user  %>
            <td><%= link_to 'Show', post %></td>
            <td><%= link_to 'Edit', edit_blog_message_path(post) %></td>
            <td><%= link_to 'Destroy', post, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Post', new_blog_message_path %>
