<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @blog_message.user_id %>
</p>

<p>
  <b>Text:</b>
  <%= @blog_message.text %>
</p>

<p>
  <b>Image:</b>
  <%= @blog_message.image %>
</p>

<ol>
  Comments
  <!--% @blog_message.comments.each do |comment| %>-->
  <%= render :partial => "/comments/comment", :collection => @blog_message.comments if @blog_message.comments %>
  <!--% end if @blog_message.comments %>-->
</ol>

<%= form_for @comment do |f| %>
    <div class="field">
      <%= f.text_area :text, :rows => 5 %>
    </div>
    <div class="actions">
      <%= f.submit "Create comment" %>
    </div>
    <%= f.hidden_field :blog_message_id, value: @blog_message.id %>
    <%= f.hidden_field :user_id, value:(current_user ? current_user.id : 1)  %>
<% end if @comment %>
