<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<% @user.blog_messages.each do |post| %>
    <p>
      <b>Post <%= post.id %></b>
      <%= post.text %>
    </p>
<% end unless @user.blog_messages.empty? %>

<%= link_to 'Create post', new_blog_message_path(:user_id => @user.id) %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
